<div>About Page</div>
<!--<form (ng-submit)="addAchievement($event)" [control-group]="addAchievementForm">
	<div>
		<input control="title" type="text" placeholder="Title of achievement">
	</div>
	<div>
		<input control="type" type="type" placeholder="Type of achievement">
	</div>
	<div>
		<input control="from" type="from" placeholder="Received from">
	</div>
	<button type="submit">Add Achievement</button>
</form>-->

<form (ng-submit)="print()" [ng-form-model]="addAchievementForm">
	<!--<input type="text" control="title" #title>-->
	<input type="text" id="title" ng-control="title">
	<input type="text" id="type" ng-control="type">
	<input type="text" id="from" ng-control="from">

	<!--{{addAchievementForm.controls.title.value}}-->
	<input type="submit" value="click" />
</form>